*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*POUR STYLISE L'EN TETE*/
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

/*POUR STYLISE LE BLOQUE 1*/
header .bloque1 {
    display: flex;
    align-items: center;
    gap: 20px;
}

header .bloque1 .logo {
    display: flex;
    align-items: center;
}

header .bloque1 .logo img {
    width: 2em;
    height: 2em;
    border-radius: 2em;
}

header .bloque1 .logo h1 {
    color: rgb(155, 33, 33);
    font-size: 2em;
    font-weight: 900;
}

.menu {
    display: none;
}

.menu img {
    width: 1.5em;
}

/*POUR STYLISE LA NAV*/

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

nav a {
    color: black;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: -1px;
}

nav a:hover {
    color: rgb(155, 33, 33);
    border-bottom: 1px solid rgb(155, 33, 33);
    font-weight: 500;
}


/* POUR LE CORP */

.haut{
    background-image: url(./imqge-glam/IMG-20250603-WA0053.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-size: 50px;
    padding: 20% 40%;
}

.bas{
    background-image: url(./imqge-glam/pantalon.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-size: 50px;
    padding: 20% 40%;
    margin-top: 10%;
}

.sac{
    background-image: url(./imqge-glam/sac.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-size: 50px;
    padding: 20% 40%;
    margin-top: 10%;
}

.elements{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin: 50px 0;
    padding: 0 20px;
}

.carte{
    width: 400px;
    height: 300px;
    background-color: gray;
    display: flex;
    gap: 10px;
    padding: 50px 20px;
    border-radius: 2em;
    box-shadow: 0 5px 10px black;
}

.carte img{
    width: 200px;
    height: 200px;
    border-radius: 2em;
}

.mots{
    width: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mots p,h2{
    margin: 10px 0;
}

.mots button{
    width: 120px;
    background-color: cadetblue;
    height: 40px;
    border: none;
    border-radius: 2em;
    cursor: pointer;
}

.mots button:hover{
    background-color: rgb(126, 167, 161);
    color: white;
}


footer {
    width: 100%;
    height: 25vh;
    padding: 0px 100px;
    background-color: rgb(175, 173, 173);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.resume {
    width: 50%;
}

.reseau {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.reseau h1 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.icone {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.application {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.application img {
    width: 3em;
    height: 3em;
    border-radius: 3em;
}

.application h2 {
    font-size: 1em;
}



@media screen and (max-width: 500px) {

    header {
        width: 100%;
        padding: 10px;
        background-color: rgb(219, 139, 139);
    }

    header .bloque1 .logo img {
        width: 1.3em;
        height: 1.3em;
    }

    header .bloque1 .logo h1 {
        font-size: 1.4em;
    }

        nav .liste {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(8px);
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    nav .liste.mobile-menu {
        margin-left: 0;
    }

    nav .liste ul {
        flex-direction: column;
        gap: 80px;
    }

    nav .liste ul a {
        font-size: 1.8em;
    }

    .menu {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .haut {
        width: 100%;
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bas {
        width: 100%;
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sac {
        width: 100%;
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer {
        height: 70vh;
        flex-direction: column;
    }

    .resume {
        width: 100%;
    }

    .resume p {
        text-align: center;
    }

    .reseau {
        width: 100%;
    }
    
}

